#nav {
    display: flex;
    justify-content: space-evenly;
    background-color: teal;
    color: wheat;
    padding: 10px;
  }
  a {
    text-decoration: none;
    font-size: 24px;
    color: white;
  }
  /* Styling for Timer */
  #timer {
    margin: 20px auto;
    width: fit-content;
    padding: 15px 25px;
    background-color: lightblue;
    color: navy;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    border: 2px solid darkblue;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  h3 {
    text-align: center;
    font-family: "Verdana", sans-serif;
  }